
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
}
body{
  background: url('bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

body::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100dvh;
  background: rgb(0,0,0,0.15);
  backdrop-filter: blur(15px);


}
/* utilies*/
.regular-txt{
  font-weight: 400;
}

.main-container{
  /* border: solid ; */
  width: 300px;
  height: 469px;
  z-index: 1;
  border-radius: 12px;
  background: linear-gradient(to top,rgb(0,0,0,0.15),rgb(255,255,255,0.15));
  backdrop-filter: blur(100px);
  padding: 20px;
}

.city-input{
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  border: 3px solid transparent;
  outline: none;
  font-weight: 500;
  background: rgb(255,255,255,0.15);
  transition: 0.25s border;
  border-radius: 99px;

}
.city-input:focus{
  border: 3px solid rgb(0,0,0,0.15);
}
.city-input::placeholder{
  color: rgb(255,255,255,0.75);
  font-weight: 500;

}

.input-container{
  position: relative;
  margin-bottom: 25px;

}

.search-btn{
  position: absolute;
  top:50%;
  right : 16px;
  transform: translateY(-50%);
  display: flex;
  border: none;
  background: none;
  cursor: pointer;

}

/* section weatherinfo*/
.weather-info{
  /* border: solid ; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.location-data-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.location{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.weather-summary-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-summary-img{
  width: 120px;
  height: 120px;
}

.weather-summary-info{
  text-align: center;

}

.weather-conditions-container{
  display: flex;
  justify-content: space-between;

}
.conditions-item{
  display: flex;
  align-items: center;
  gap: 6px;

}
.conditions-item span{
  font-size: 30px;
}
.forecast-items-container{
  display: flex;
  gap: 15px;
  overflow: scroll;
  padding-bottom: 12px;
}
.forecast-items-container::-webkit-scrollbar{
  height: 8px;
}
.forecast-items-container::-webkit-scrollbar-track{
  background: rgb(0,0,0,0.1);
  border-radius: 99px;
}
.forecast-items-container::-webkit-scrollbar-thumb{
  background: rgb(0,0,0,0.1);
  border: 99px;
}
.forecast-item{
  min-width: 70px;
  background: rgb(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  border-radius: 12px;
  align-items: center;

}
.forecast-item-img{
  width: 35px;
  height: 35px;

}

/* section weatherinfo end*/

/* section message */
.section-message img{
  height: 180px;
  width: fit-content;
}
.section-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 25px;

}


/*  end section message*/
